 *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
width: 100%;
}
h1{
    background-color: #577399;
    color: #F7F7FF;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.choice :hover{
    background-color: black;
    cursor: pointer;
    opacity: 0.75;
    
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 3rem;
}
#user-score,#comp-score{
    font-size: 4rem;


}
#msg{
    background-color:#577399;
    color:whitesmoke;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    /* display: inline; */
    border-radius: 1rem;

}